<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da Enquete</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    {% load static %}

    <link rel="stylesheet" href="{% static 'enquete/css/style.css'%}">
    
</head>
<body>
    <header class="level">
        <h1 class="title level-item is-1 has-text-centered mt-4">🏆 Resultado da Votação 🏆</h1>
        <div class="level-item">
            <figure class="image is-32x32">
                <img class="is-rounded" src="{% static 'enquete/imgs/bulmadragonball.jpg' %}" />
            </figure>
        </div>
    </header>
    <main>
        <section class="hero is-link is-medium">
            <table class="table is-hoverable">
                <thead>
                    <tr>
                        <th>Alternativa</th>
                        <th>Votos</th>
                    </tr>
                </thead>
                {% for alternativa in alternativas %}
                    <tr>
                        <td>{{alternativa.texto}}</td>
                        <td>{{alternativa.votos}}</td>
                    </tr>
                {% endfor %}
            </table>
        </section>
    </main>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>&copy; 2026 Enquete</p>
        </div>
    </footer>
</body>
</html>
